.card {
  background-color: #f8fafc;
  padding: 53px 30px 37px;
  width: 573px;
  border-radius: 25px;
  position: relative;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card__new {
  width: 71px;
  height: 26px;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
  position: absolute;
}

.card__compare {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background: url(../../images/compare.svg) no-repeat center;
  position: absolute;
  right: 30px; 
}

.card__compare--done {
  background-image: url(../../images/done.svg);
}

.card__img {
  background-image: url(../../images/item1.png);
  width: 256px;
  height: 261px;
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  transition: box-shadow 0.3s;
}

.card__img:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card__img--2 {
  background-image: url(../../images/item2.png);
}

.card__img--3 {
  background-image: url(../../images/item3.png);
}

.card__title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.card__description {
  padding: 0 15px;
  margin-bottom: 20px;

}

.card__info {
  position: relative;
  padding: 0 15px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__select {
  width: 258px;
  padding: 8px 20px;
  border: none;
  font-size: 12px;
  margin-bottom: 16px;
}

.card__price {
  font-weight: 600;
  font-size: 18px;
  text-align: right;
}

.card__volume {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.card__input {
  margin-right: 10px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.card__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  padding: 0 13px;
  background-color: #e2e9f0;
  border-radius: 30px;
  font-size: 20px;
}

.card__operator {
  border: none;
  background: transparent;
  font-size: 20px;
}

.card__button {
  width: 302px;
  height: 39px;
  background: linear-gradient(261.65deg, #efbb37 -3.95%, #cf9e1f 109.44%);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.3s box-shadow 1s;
}

.card__button:hover {
  background: linear-gradient(261.65deg, #e9b32C -3.95%, #bf911a 109.44%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
